.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.innerWrapper {
    display: flex;
    width: 100%;
    padding: 4rem 0;
    align-items: center;
    border: 0px solid var(--gray);
    border-top-width: 1px;
    border-bottom-width: 1px;

}
.innerWrapper2 {
    display: flex;
    width: 100%;


}
.title {
    margin: 3rem 0;
}
.image{
    
    object-fit: cover;
    /* vertical-align: middle; */
    width: 100% !important;
    position: relative !important;
    /* max-height: 80rem; */
    height: unset !important;
    /* margin: 3rem 0; */
  }
.listWrapper {
    display: flex;
}
.textWrapper, .listWrapper {
    width: 50%;
}
.listInnerWrapper, .image {
    width: 50%;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    /* padding: 0 1.5rem; */
    font-size: var(--l);
}
.list li {
    margin-bottom: 1.5rem;
}
.list span{
    color: var(--main);
    margin-right: 0.5rem;
}
.textWrapper2 {
    margin-bottom: 1.5rem;
}
.textWrapper2 span {
    color: var(--main);
}
.listTitle {
    text-align: center;
    font-size: var(--xl);
}
.listTitle .icon {
    font-size: var(--xl);
}

.left33 {
    width: 33%;
    padding-right: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left33:last-child {

    padding-right: 0;

}
.flex {
    display: flex;
    width: 100%;
}
.textWrapper {
    width: 100%;
    background-color: var(--gray);
    color: var(--white) !important;
    font-size: var(--m);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--black);

    height: 75vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.textWrapper .text {
    width: 50%;
    font-size: var(--l);
}
.textWrapper p {
    font-size: var(--l);
}
.link {
    color: var(--main);
    text-decoration: underline;
}
.link:hover {
    color: var(--gray);
    text-decoration: none;
}
.middleWrapper {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* padding: 0 10%; */
}
.left50 ul {
    padding: 0;
    margin: 0;
}

.left30 {
    width: 30%;
}
.right30 {
    width: 30%;
}
.right40 {
    width: 40%;
}
.right70 {
    width: 70%;
    display: flex;
    flex-direction: column;
}
.left70 {
    width: 70%;
}
.left60 {
    width: 60%;
}

.middle40 {
    display: flex;
    min-width: 40%;
    padding: 0% 10%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.left50 {
    width: 50%;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.textInnerWrapper {
    display: flex;
}
.textInnerWrapper span {
    padding-right: 1rem;
}
.right50 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1.5rem;
    /* min-height: calc(100vh - 250px); */
}
.rightTextWrapper {
    background-color: var(--gray);
    color: var(--white);
    font-size: var(--l);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageLeft {
    float: left;
    margin-right: 2rem;
}
.menuWrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10vh;
    margin-top: 10vh;
    /* padding: 0 10%; */
}
.menuItem {
    box-shadow: 5px 5px 5px gray;
  }
.imageRight {
    float: right;
    margin-left: 2rem;
}
.text {
    text-align: justify;
    text-indent: 1.5rem;
    font-size: var(--l) !important;
}
.titleWrapper {
    display: block;
    width: 100vw;
    background-color: var(--main);
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    padding: 0.5rem 0;
}
.inner span {
    font-size: var(--xl);
    color:var(--main);
    padding: 0;
    margin: 0;
    position: relative;
}
.chevron {
    position: absolute;
    top: 0.8rem;
    left: 0;
}
.text {
    padding: 0;
    margin: 0;
}
.inner {
    width: 100%;
    display: flex;
    padding: 2rem 0;
    font-size: var(--l);
    align-items: stretch;
    min-height: 100%;
}
/* .chevron {
    position: absolute;
    top: 15px;
    left: 0;
  } */
.inner .icon {
    margin-right: 1rem;
}

/* .icon {
    padding-right: 5px;
    font-size: var(--xxxl);
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--main);
  } */
.listInnerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.imageWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.imageWrapper h4 {
    font-size: var(--l);
}
.image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-bottom: 3rem;
}
.imageCenter {
    display: flex;
    width: 100%;
    justify-content: center;
}
.flex {
    display: flex;
    padding-bottom: 2rem;
}
.gradient {
    display: block;
    min-height: 20vh;
    width: 100vw;
    
    margin-top: auto;
    background: linear-gradient( transparent, lightgray);
}