.wrapper{
    display: grid;
    /* min-height: 100vh; */
    grid-template-columns: 3rem 16.5rem minmax(22.85rem, 90rem) 3rem;
    grid-template-rows: auto 1fr auto;
    gap: 0 30px;
    grid-template-areas: 
    "header header header header"
    ". body body ."
    "footer footer footer footer";

    overflow: hidden;

}

.header{
    grid-area: header;
    /* display: none; */
}
.body {
    grid-area: body;
}
.footer{
    grid-area: footer;
}

@media (min-width: 1400px) {
    .headerMenu {
        padding-left: 1.5rem;
        padding-right: 7rem;
    
    }
    .wrapper{

        grid-template-columns: 5rem 16.5rem minmax(22.85rem, 90rem) 5rem;

    
    }
}

@media (max-width: 1024px) {
    .wrapper{

        grid-template-columns: 5rem 16.5rem minmax(22.85rem, 90rem) 5rem;

    
    }
}
@media (max-width: 765px) {
    .wrapper{
        grid-template-columns: minmax(320px, 1200px);
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
        "header"
        "body"
        "footer";
    
    }

    .sidebar{
        display: none;
    }
}
