.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/* .imageWrapper {
    max-width: 62.5rem;
    max-height: 31.25rem;
} */
.titleWrapper {

    display: block;
    width: 100vw;
    background-color: var(--main);
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
}
.descWrapper, .menuWrapper {
    display: flex;
}

.descWrapper {
    margin-bottom: 10vh;
}
.menuWrapper {
    width: 100%;
    justify-content: space-around;
    margin-bottom: 10vh;
    padding: 0 10%;
}
.gradient {
    display: block;
    min-height: 20vh;
    width: 100vw;
    
    margin-top: auto;
    background: linear-gradient( transparent, lightgray);
}
.menuItem {
    width: 120px !important;
    height: 120px !important;
    font-size: var(--m) !important;
    box-shadow: 5px 5px 5px gray;
  }