.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.titleWrapper {
    display: block;
    width: 100vw;
    background-color: var(--main);
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
}
.descWrapper, .menuWrapper {
    display: flex;
}

.descWrapper {
    margin-bottom: 10vh;
}
.menuWrapper {
    width: 100%;
    justify-content: space-around;
    margin-bottom: 10vh;
    padding: 0 10%;
}
.gradient {
    display: block;
    min-height: 20vh;
    width: 100vw;
    
    margin-top: auto;
    background: linear-gradient( transparent, lightgray);
}
.menuItem {
    box-shadow: 5px 5px 5px gray;
}

@media (min-width: 1400px) {
    .headerMenu {
        padding-left: 1.5rem;
        padding-right: 7rem;
    
    }
    .wrapper{

        grid-template-columns: 5rem 16.5rem minmax(22.85rem, 90rem) 5rem;

    
    }
}