.headerWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "headerLeft headerCenter headerRight"
    "headerAddress headerMenu headerMenu";
    color: var(--white);
}

.headerAddress {
    min-height: 5.75rem;
}

.headerLeft {
    grid-area: headerLeft;
    display: flex;
    min-height: 8.1rem;
    align-items: center;
    justify-content: center;
    /* border: 0px solid red; */
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: var(--black);
}
.headerCenter {
    grid-area: headerCenter;
    display: flex;
    color: #99a1af;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2em;
    align-items: center;
    justify-content: center;
}
.headerRight {
    grid-area: headerRight;
    display: flex;  
    align-items: center; 
}

.headerRight p {
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--gray);
    width: 100%;
    font-size: var(--xl);
    padding: 0.4rem;
}

.headerAddress {
    grid-area: headerAddress;
    background: linear-gradient(#0c5f93, #186fb1);
    position: relative;
    overflow: hidden;
}
.headerAddress:before {
    content: " ";
    position: absolute;
    
    width: 60%;
    z-index: 3;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(#e4e6ea, #8d97a6);
    clip-path: polygon(0 0, 100% 1%, 50% 100%, 0% 100%);
}
.headerAddress p {
    line-height: 0.1em;
    text-align: right;
}
.headerMenu {
    grid-area: headerMenu;
    display: flex;
    justify-content: space-between;
    /* padding: 0 3vw; */
    padding-left: 3rem;
    padding-right: 5rem;
    max-height: 5.75rem;
    background: linear-gradient(#0c5f93, #186fb1);

}
.headerMenuItem {
    margin-top: -2rem;
    color: var(--white) !important;
}

@media (min-width: 1400px) {
    .headerMenu {
        padding-left: 1.5rem;
        padding-right: 7rem;
    
    }

}

@media (max-width: 765px) {
    .headerWrapper {
        grid-template-columns: 1fr;
        text-align: center;
    }
}