.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.title {
    margin: 3rem 0;
}
.innerWrapper {
    display: flex;
    width: 100%;
}

.textWrapper {
    background-color: var(--main);
    color: var(--white);
    font-size: var(--m);
    padding: 1.5rem;
    display: flex;
    align-items: center;
}
.textWrapper, .listWrapper {
    width: 50%;
}
.listWrapper {
    display: flex;
}
.listInnerWrapper, .image {
    width: 50%;
}
.listTitle {
    text-align: center;
    font-size: var(--m);
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 0 1.5rem;
    font-size: var(--l);
    line-height: 1.5rem;
}
.list li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.list span{
    color: var(--main);
    font-size: 1.5rem;
    margin-right: 0.5rem;
}
.listInnerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gradient {
    display: block;
    min-height: 20vh;
    width: 100vw;
    
    margin-top: auto;
    background: linear-gradient( transparent, lightgray);
}

@media (min-width: 1400px) {
    .listTitle {
        font-size: var(--l);
    }
}