.wrapper {
    display: grid;
    grid-template-columns: 27.5vw auto;
    grid-template-areas: 
      "bodyLeft bodyRight";
    padding: 2rem 0;
  }
  .left {
    grid-area: bodyLeft;
    border: 0 solid var(--black);
    border-right-width: 2px;
    padding-right: 0.5rem;
  }
  .right {
    grid-area: bodyRight;
    padding-left: 1.5rem;
    min-height: calc(100vh - 250px);
  }

  .text {
    width: 170px;
    line-height: 1.3rem;
    font-size: var(--l) !important;
  }
  .cardWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 50px 10px;
    /* justify-content: space-between; */
  }
  .inner {
    display: flex;
  }
  .icon {
    padding-right: 5px;
    font-size: var(--xxxl);
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--main);
  }
  .chevron {
    position: absolute;
    top: 15px;
    left: 0;
  }
  .heading {
    width: 170px;
    margin: 0;
  }
  .menuElemWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  .menuElem {
    margin-right: 20px;
  }

  .menuItem {
    box-shadow: 5px 5px 5px gray;
  }

  .link:hover {
    color: var(--main);
  }

  @media (min-width: 1400px) {
    .wrapper {
  
      /* outline: 2px solid blue; */
      grid-template-columns: 27.5vw auto;
    }
  
  
      
  }