 
  .cardWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 0 5%;
    /* justify-content: space-between; */
  }
  /* .inner {
    display: flex;
  } */
  .icon {
    padding: 5px;
  }
  .heading {
    width: 270px;
    min-height: 3rem;
    
    margin: 0;
    font-size: var(--xl);
  }
  .title {
    text-transform: uppercase;
    text-align: center;
    margin: 3rem 0;
    font-size: var(--xxl);
  }
  .text {
    max-width: 270px;
    
    font-size: var(--l);
  }
  .gradient {
    display: block;
    min-height: 20vh;
    width: 100vw;
    
    margin-top: auto;
    background: linear-gradient( transparent, lightgray);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.titleWrapper {

  display: block;
  width: 100vw;
  background-color: var(--main);
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
}
.menuWrapper {
  width: 100%;
  justify-content: space-around;
  margin-bottom: 10vh;
  padding: 0 10%;
}
.inner {
  display: flex;
  margin-top: 1.5rem;
}